aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
Deprecated==1.2.13
frozenlist==1.3.0
idna==3.3
Jinja2==3.1.2
lxml==4.8.0
MarkupSafe==2.1.1
multidict==6.0.2
packaging==21.3
pyparsing==3.0.9
python-geoip==1.2
PyYAML==6.0
redis==4.3.1
requests==2.27.1
urllib3==1.26.9
wrapt==1.14.1
yarl==1.7.2
